@model IEnumerable<DataAccessLayer.Models.Tasks>

@{
    ViewBag.Title = "GetTask";
    Layout = "~/Views/Shared/" + @Session["addtoLayout"];
}

@using System.Globalization;


<h4 style="background-color:black">
    @Html.ActionLink("Task Colobaration", "TaskColobaration")
    <br />
    <br />
    @Html.ActionLink("Start a daily task", "NewTask", new { tasktype = "DailyTask" })


</h4>


<div>
    <hr />
    <h3 style="background-color:blue ">Morning  Task  </h3>
</div>



<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Task Details</th>
                <th>Task status</th>
                <th>Due date</th>
                <th>Update task</th>

            </tr>
        </thead>

        @{
            foreach (var item in Model)
            {

                string v = item.dateAssigned.ToString("tt", CultureInfo.InvariantCulture);

                if (item.TaskType == "oasisTask")
                {
                    if (v == "PM")
                    {

                        if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]))
                        {

                            <tr>
                                <td>@item.Taskdetail</td>
                                <td>@item.TaskStatus</td>
                                <td>  @item.DueDate </td>

                                <td>
                                    @Html.ActionLink("Update status", "UpdateTask", new { TaskID = item.id })
                                </td>

                            </tr>
                        }

                    }


                }



            } }

    </table>
</div>





<div>
    <hr />
    <h3 style="background-color: royalblue">Afternoon  Task  </h3>
</div>



<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Task Details</th>
                <th>Task status</th>
                <th>Due date</th>
                <th>Update task</th>

            </tr>
        </thead>

        @{
            foreach (var item in Model)
            {

                string v = item.dateAssigned.ToString("tt", CultureInfo.InvariantCulture);

                if (item.TaskType == "oasisTask")
                {
                    if (v == "PM")
                    {

                        if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]))
                        {

                            <tr>
                                <td>@item.Taskdetail</td>
                                <td>@item.TaskStatus</td>
                                <td>  @item.DueDate </td>

                                <td>

                                    @Html.ActionLink("Update status", "UpdateTask", new { TaskID = item.id })
                                </td>

                            </tr>
                        }

                    }


                }



            } }

    </table>
</div>



<div>
    <hr />
    <h3 style="background-color: darkslateblue">Assigned  Task  </h3>

    <br />
</div>


<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Task Details</th>
                <th>Task status</th>
                <th>Due date</th>
                <th>Update task</th>

            </tr>
        </thead>

        @{
            foreach (var item in Model)
            {

                string v = item.dateAssigned.ToString("tt", CultureInfo.InvariantCulture);

                if (item.TaskType != "oasisTask")
                {
                    

                        if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]))
                        {

                            <tr>
                                <td>@item.Taskdetail</td>
                                <td>@item.TaskStatus</td>
                                <td>  @item.DueDate </td>

                                <td>

                                    @Html.ActionLink("Complete Task", "UpdateTask", new { TaskID = item.id })
                                </td>

                            </tr>
                        }

                    


                }



            } }

    </table>
</div>
































